<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="settingsAccount">Configuración de usuario para [<b>{{settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Configuración guardada!</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>

                <div class="form-group">
                    <label class="form-control-label" for="firstName">Nombres</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Sus nombres"
                           [(ngModel)]="settingsAccount.firstName" minlength=1 maxlength=50 #firstNameInput="ngModel" required>
                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.required">
                            Sus nombres son requeridos.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.minlength">
                            Sus nombres deben tener al menos 1 caracter.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.maxlength">
                            Sus nombres no deben tener mas de 50 caracteres.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="lastName">Apellidos</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Sus apellidos"
                           [(ngModel)]="settingsAccount.lastName" minlength=1 maxlength=50 #lastNameInput="ngModel" required>
                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.required">
                            Sus apellidos son requeridos.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.minlength">
                            Sus apellidos deben tener al menos 1 caracter.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.maxlength">
                            Sus apellidos no deben tener mas de 50 caracteres.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Correo</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Su correo"
                           [(ngModel)]="settingsAccount.email" minlength="5" maxlength="100" #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required">
                            Su correo es requerido
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email">
                            Su correo no es válido
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength">
                            Su correo debe tener al menos 5 caracteres.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength">
                            Su correo no debe tener mas de 50 caracteres.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="settingsForm.form.invalid" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>

</div>
