<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">JHipster creation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Hola
        </p>
        <p th:text="#{email.creation.text1}">
            Su cuenta de ASOPENESSA ha sido creada, por favor vaya a la siguiente URL para ingresar:
        </p>
        <p>
          <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
             th:text="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}">Link de ingreso</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Cordialmente, </span>
            <br/>
            <em th:text="#{email.signature}">ASOPENESSA.</em>
        </p>
    </body>
</html>
