<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Cambio de password ASOPENESSA</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Hola
        </p>
        <p th:text="#{email.reset.text1}">
            Se ha solicitado un cambio de password para su cuenta de ASOPENESSA, por favor vaya a la siguiente URL para cambiarlo:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
               th:text="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}">Link de cambio de password</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Cordialmente, </span>
            <br/>
            <em th:text="#{email.signature}">ASOPENESSA.</em>
        </p>
    </body>
</html>
