<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Cambiar password</h1>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>La key de cambio de password no existe.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Digite un nuevo password</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>Su password no pudo ser cambiado. Recuerde que la solicitud de cambio de password es valida por 24 horas.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>Su password ha sido cambiado.</strong> Por favor </span>
                <a class="alert-link" (click)="login()">ingrese</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                El password y su confirmación no coinciden!
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password">Nuevo password</label>
                        <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                               placeholder="Nuevo password"
                               [(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required>
                        <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.required">
                                Su password es requerido.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.minlength">
                                El password debe tener al menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.maxlength">
                                El password no debe tener mas de 50 caracteres.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="resetAccount.password"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Confirmación de nuevo password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                               placeholder="Confirme su nuevo password"
                               [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.required">
                                Su confirmación de password es requerida.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.minlength">
                                Su confirmación de password debe tener al menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.maxlength">
                                Su confirmación de password no debe tener mas de 50 caracteres.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Cambiar Password</button>
                </form>
            </div>

        </div>
    </div>
</div>
