<div *ngIf="user">
    <h2>
        <span>Usuario</span> [<b>{{user.login}}</b>]
    </h2>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre de usuario</span></dt>
        <dd>
            <span>{{user.login}}</span>
            <span class="badge badge-danger" *ngIf="!user.activated"
                 >Desactivado</span>
            <span class="badge badge-success" *ngIf="user.activated"
                 >Activado</span>
        </dd>
        <dt><span>Nombres</span></dt>
        <dd>{{user.firstName}}</dd>
        <dt><span>Apellidos</span></dt>
        <dd>{{user.lastName}}</dd>
        <dt><span>Correo</span></dt>
        <dd>{{user.email}}</dd>
        <dt><span>Creado por</span></dt>
        <dd>{{user.createdBy}}</dd>
        <dt><span>Fecha de creación</span></dt>
        <dd>{{user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
        <dt><span>Modificado por</span></dt>
        <dd>{{user.lastModifiedBy}}</dd>
        <dt><span>fecha de última modificación</span></dt>
        <dd>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>
        <dt><span>Perfiles</span></dt>
        <dd>
            <ul class="list-unstyled">
                <li *ngFor="let authority of user.authorities">
                    <span class="badge badge-info">{{authority}}</span>
                </li>
            </ul>
        </dd>
    </dl>
    <button type="submit"
            routerLink="/user-management"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Regresar</span>
    </button>
</div>
