<div>
    <h2>
        <span>Noticias</span>
        <button class="btn btn-primary float-right jh-create-entity create-noticia" [routerLink]="['/', { outlets: { popup: ['noticia-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Crear nueva Noticia
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="noticias">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fecha"><span>Fecha</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="titulo"><span>Título</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contenido"><span>Contenido</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let noticia of noticias ;trackBy: trackId">
                <td><a [routerLink]="['../noticia', noticia.id ]">{{noticia.id}}</a></td>
                <td>{{noticia.fecha | date:'mediumDate'}}</td>
                <td>{{noticia.titulo}}</td>
                <td>{{noticia.contenido}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../noticia', noticia.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">Ver</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'noticia/'+ noticia.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Editar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'noticia/'+ noticia.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Eliminar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="noticias && noticias.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
