<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Registro</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Registro guardado!</strong> Por favor revise su correo para confirmar su registro.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Registro fallido!</strong> Por favor intente de nuevo en un momento.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Nombre de usuario ya registrado!</strong> Por favor digite uno diferente.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>El correo digitado ya está siendo usado!</strong> Por digite uno diferente.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                El password y su confirmación no coinciden!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Su nombre de usuario"
                            required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Su nombre de usuario es requerido.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               >
                            Su nombre de usuario debe tener al menos 1 caracter.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               >
                            Su nombre de usuario no debe tener mas de 50 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                              >
                            Su nombre de usuario solo puede contener letras en minúscula y números.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Su correo"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=100 email required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                               >
                            Su correo es requerido.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                              >
                            Su correo no es valido.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                              >
                            Su corredo debe tener al menos 5 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                              >
                            Su corredo no debe tener mas de 100 caracteres.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Nuevo password</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="Nuevo password"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               >
                            Your password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               >
                            El password debe tener al menos 4 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               >
                            El password no debe tener mas de 50 caracteres.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmación de nuevo password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirme su nuevo password"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                              >
                            Su confirmación de password es requerida.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                             >
                            Su confirmación de password debe tener al menos 4 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                              >
                            Su confirmación de password no debe tener mas de 50 caracteres.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Regsitrar</button>
            </form>
            <p></p>
        </div>
    </div>
</div>
