<div class="row">
    <div class="col-md-12">
        <h1 class="display-7">Bienvenido a ASOPENESSA!</h1>
        <p class="lead">Esta es su página de noticias</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > Ha ingresado con como "{{account.login}}". </span>
            </div>

             <div class="alert alert-warning" *ngSwitchCase="false">
                <span>No se ha registrado aún?</span>
                <a class="alert-link" routerLink="register">Registrarse</a>
            </div>
        </div>

    </div>
</div>
